/*Estilo geral*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    height: 100vh;
}

:root {
    --cor-titulos: #35a7f8;
    --cor-items: #6cdcf0;
    --cor-roxo: #884cf8af;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

#espacos {
    padding-top: 50px;
}

.flex {
    display: flex;
}

.efeito-txt-topo,
.efeito-img-topo,
.efeitos-especialidades1,
.efeitos-especialidades2,
.efeitos-especialidades3,
.efeito-txt-sobre,
.efeito-img,
.projetos1,
.projetos2,
.projetos3,
.formulario1,
.formulario2,
.formulario3,
.formulario4,
.formulario5 {
    visibility: hidden;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-image: linear-gradient(90deg, rgb(135, 191, 255), rgba(66, 41, 156, 0.5));
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px rgb(140, 0, 255);
    transform: scale(1.05);
    transition: .2s;
}

.sobre .txt-sobre h2 span {
    display: block;
    color: var(--cor-titulos);
}

h2.titulo {
    color: white;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: var(--cor-titulos);
}

#proj:hover {
    text-decoration: underline;
    color: var(--cor-items);
    transition-duration: .5s;
}

/*Estilo cabeçalho*/
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgb(158, 158, 158);
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.9px;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: rgb(20, 100, 248);
    transform: scale(1.05);
    border-bottom: 1px solid rgb(91, 149, 255);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
    font-size: 18px;
}

/*Estilo menu*/

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.btn-abrir-menu i {
    cursor: pointer;
    color: var(--cor-items);
    font-size: 40px;
}

.menu-mobile {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: rgb(117, 161, 255);
    color: rgb(30, 7, 82);

}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    cursor: pointer;
    color: var(--cor-items);
    font-size: 50px;
}

.overlay-menu {
    background-color: rgba(0, 0, 0, 0.555);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}


.logo-cabecalho img {
    width: 100px;
    height: 100px;
}


/*Topo site*/
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: white;
    font-size: 40px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: var(--cor-titulos);
}

.topo-do-site .txt-topo-site p {
    color: white;
    margin: 30px 0px;
    text-align: justify;

}

.topo-do-site .img-topo-site img {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 18% 15%;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/*eSPECIALIDADES*/

section.especialidades {
    padding: 40px 4%;
}

section.especialidades,
section.formulario {
    background-image: linear-gradient(180deg,rgb(0, 0, 0) ,rgb(9,9,9), rgba(14, 18, 43, 0.89),rgb(9,9,9),rgb(0, 0, 0));
}

.especialidades .especialidades-box {
    color: white;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .especialidades-box i {
    color: var(--cor-items);
    font-size: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.especialidades .especialidades-box a {
    color: white;
}

.especialidades .especialidades-box a:hover {
    color: var(--cor-items);
    transition: .3s;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
    text-align: center;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(86, 86, 86, 0.66);
}

.especialidades .especialidades-box p {
    text-align: justify;

}

section.sobre {
    padding: 40px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.img-sobre img {
    border-radius: 80%;
    width: 300px;
    height: 300px;
}

.sobre .txt-sobre {
    color: white;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}


section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.103);
}

.img-port {
    width: 360px;
    height: 390px;
    background-color: blue;
    background-size: cover;
    background-position: 100% 0%;
    transition: 2s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    text-align: center;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.63);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

section.portfolio a {
    text-decoration: none;
    color: white;
}



section.portfolio .flex {
    justify-content: space-around;
    margin-top: 40px;
}

section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: rgb(39, 39, 39);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 600px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-image: linear-gradient(90deg, rgb(135, 191, 255), rgba(66, 41, 156, 0.5));
    color: black;
    font-weight: 700;
    cursor: pointer;
}

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.103);
}

.line-footer .logo-footer img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid rgb(20, 100, 248);
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-image: linear-gradient(90deg, rgb(135, 191, 255), rgba(66, 41, 156, 0.5));
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

footer .line-footer p i {
    color: rgb(20, 100, 248);
    font-size: 22px;
}

footer .line-footer p a {
    color: white;
}

@media screen and (max-width: 1020px) {
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /*cabeçalho*/

    .menu-desktop,
    .btn-contato {
        display: none;
    }

    .topo-do-site h1 {
        font-size: 32px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    section.topo-do-site .flex {
        gap: 40px;
    }

    /*Especialidades*/

    section.especialidades {
        padding: 40px 8%;
    }

    /*Explicacao*/
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .sobre .flex {
        flex-direction: column-reverse;
    }

    .btn-social {
        text-align: center;
    }

    /*portfólio*/

    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;

    }

    section.portfolio .flex {
        gap: 60px;
    }

    /*Rodape*/

    footer .line-footer {
        text-align: center;
    }
}